# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.TasJam_NewBeginnings.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\TasJam_NewBeginnings\.idea\.idea.TasJam_NewBeginnings\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
